@charset "UTF-8";
@import url("reset.css");

/* -----------------------------------------------------------

- Title: Project X Main Stylesheet
- Author: John Doe (http://koombea.com)
- Design by: John Doe (http://koombea.com)

----------------------------------------------------------- */

/* Helpers
============================================================ */
.clearfix:before,
.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1; overflow:visible !important;}

.clear{clear:left;}

.floatleft{float:left !important;}
.floatright{float:right !important;}
.floatcenter{
  float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	overflow:hidden;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

/* General
============================================================ */
html,body{}
.login{
  width:100%
}

#wrapper{

}


p{
  line-height:1.2em;
  margin-bottom:1em;
}

a{
	-moz-transition:color 0.1s linear;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
}

a:hover{

}

.inline{display:inline !important;}

.pull-right { float: right; overflow: auto;}
.pull-left { float: left; overflow: auto;}

/* Header
============================================================ */


/*#logo{
  margin:0 auto 65px;
  width:372px;
}*/

body.login {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url(../images/login-background.jpg) no-repeat ;
  background-size: 140% 190%;
}

body.login:after {
  content: "";
  background: #1F3442;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.login .notice {
  text-align: center;
  padding: 10px;
  background-color: white;
}


.login #wrapper {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px 2px 7px #1D1C1C;
}

.login #wrapper .left-side {
  padding: 20px;
  display: inline-block;
  width: 340px;
  background-color: #1F3442;
  height: 500px;
  vertical-align: top;
  text-align: center;
  color: white;
  padding-top: 50px;
  color: #E0F5FE;
  box-sizing: border-box;
}


.login .left-side img {
  width: 160px;
  margin-bottom: 10px;
}

.login .left-side h2 {
  font-weight: 200;
  line-height: 22px;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.login .left-side h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
}

.login .left-side p {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 18px;
}

.login .left-side .cta-button {
  background-color: #9CC654;
  width: auto;
  display: inline-block;
  padding: 12px 20px 12px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.login #content.right-side {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  width: 458px;

}

.form-container {
  padding: 50px;
  padding-top: 125px;
}

.login .right-side p {
  text-align: center;
  color: #19133E;
}

.login form .input-holder {
  position: relative;
}

.login .right-side input[type=text], .login .right-side input[type=password] {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}

.login .right-side input[type=text]:focus, .login .right-side input[type=password]:focus {
  border: 1px solid #6AA9C3;
}

.login .right-side input[type=text]:focus , .login .right-side input[type=password]:focus {
  border: 1px solid #6AA9C3;
}

.login .right-side input[type=text] + label,
.login .right-side input[type=password] + label {
  display: none;
  position: absolute;
  left: 12px;
  top: -5px;
  font-size: 12px;
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
}

.login .right-side input[type=text]:focus + label,
.login .right-side input[type=password]:focus + label {
  display: block;
}

.login .actions-holder{
  overflow: auto;
  margin-bottom: 40px;
}

.login .actions-holder input[type=submit]{
  padding: 10px 20px;
  background-color: #6AA9C3;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.login .actions-holder .pull-left {
  padding-bottom: 6px;
  padding-top: 10px;
}

.login .actions-holder + p.forgot a {
  color: #6AA9C3;
  font-size: 14px;
}


.login .actions-holder input[type=checkbox] + label{
  font-size: 14px;
}

.bottom-content {
  padding: 30px;
  background-color: #F1F1F1;
  width: 100%;
  box-sizing: border-box;
  height: 79px;
}

.login .right-side .bottom-content p {
  text-align: left;
  margin-bottom: 0px;
  font-size: 14px;
  margin-left: 20px;
}

.login .right-side .bottom-content p > a {
  color: #6AA9C3;
}


/* media
============================================================ */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
  .login #content {
    height: 135%;
    top: -25%;

}
.login section {
    bottom: 0;
    height: 345px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 25%;
    width: 670px;
}

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape){
   .login #content {
    top: -25%;
  }

  .login section {
    bottom: 0;
    height: 345px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 45%;
    width: 670px;
  }
}