@charset "utf-8";
/* CSS Document */

#myportalmenu {
	width: 14%;
	vertical-align: top;
	float: left;
	margin-left: 10px;
}
#myportalalt {
	width: 25%;
	vertical-align: top;
	float: right;
	margin-right: 10px;
}
#myportalmain {
	vertical-align: top;
}
#title {
	clear: both;
	margin-bottom: 10px;
}
.module {
	width: 100%;
	border: 1px dotted #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: 15px;
}
#myportalmain .module {
	width: 56%;
	border: 1px dotted #CCCCCC;
	margin-left: 16%;
	background-color: #FFFFFF;
	text-align: left;
	margin-bottom: 15px;
}
.app {
	text-align: center;
	font-weight: bold;
	background-color: #000000;
	color: #FFFFFF;
	width: 100%;
	font-size: 13px;
	text-align: center;
}
.modulecontents {
	padding: 5px;
}
.modulecontents ul {
	margin-left: 0px;
	margin-top: 0px;
}
.modulecontents li {
	list-style-type: none;
}
.projects {
	border: 1px solid #CCCCFF;
	width: 97%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-left: 10px;
}
/* Same as the data class, except for headers of the table -- NOTE: the borders are very carefully designed in this style to create an even border effect. Modifying this could create overlapping borders in some browsers. */
.projects th {
	border-right: 1px solid #CCCCFF;
	border-bottom: 1px solid #CCCCFF;
	border-left-width: 0px;
	border-top-width: 0px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
	text-align: center;
}
/* Same as the data class, except for cells of the table */
.projects td {
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
}
.projects .odd {
	background-color: #CCCCFF;
}
.projectTasks {
	border: 1px solid #CCFFFF;
	width: 97%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-left: 10px;
}
/* Same as the data class, except for headers of the table -- NOTE: the borders are very carefully designed in this style to create an even border effect. Modifying this could create overlapping borders in some browsers. */
.projectTasks th {
	border-right: 1px solid #CCFFFF;
	border-bottom: 1px solid #CCFFFF;
	border-left-width: 0px;
	border-top-width: 0px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
	text-align: center;
}
/* Same as the data class, except for cells of the table */
.projectTasks td {
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
}
.projectTasks .odd {
	background-color: #CCFFFF;
}
.mySupportRequests {
	border: 1px solid #CCFFCC;
	width: 97%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-left: 10px;
}
/* Same as the data class, except for headers of the table -- NOTE: the borders are very carefully designed in this style to create an even border effect. Modifying this could create overlapping borders in some browsers. */
.mySupportRequests th {
	border-right: 1px solid #CCFFCC;
	border-bottom: 1px solid #CCFFCC;
	border-left-width: 0px;
	border-top-width: 0px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
	text-align: center;
}
/* Same as the data class, except for cells of the table */
.mySupportRequests td {
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
}
.mySupportRequests .odd {
	background-color: #CCFFCC;
}
.pendingMaintenances {
	border: 1px solid #FFCC66;
	width: 97%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-left: 5px;
}
/* Same as the data class, except for headers of the table -- NOTE: the borders are very carefully designed in this style to create an even border effect. Modifying this could create overlapping borders in some browsers. */
.pendingMaintenances th {
	border-right: 1px solid #FFCC66;
	border-bottom: 1px solid #FFCC66;
	border-left-width: 0px;
	border-top-width: 0px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
	text-align: center;
}
/* Same as the data class, except for cells of the table */
.pendingMaintenances td {
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
}
.pendingMaintenances .odd {
	background-color: #FFCC66;
}
.unassSupportRequests {
	border: 1px solid #FFFF99;
	width: 97%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-left: 10px;
}
/* Same as the data class, except for headers of the table -- NOTE: the borders are very carefully designed in this style to create an even border effect. Modifying this could create overlapping borders in some browsers. */
.unassSupportRequests th {
	border-right: 1px solid #FFFF99;
	border-bottom: 1px solid #FFFF99;
	border-left-width: 0px;
	border-top-width: 0px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
	text-align: center;
}
/* Same as the data class, except for cells of the table */
.unassSupportRequests td {
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #000000;
}
.unassSupportRequests .odd {
	background-color: #FFFF99;
}
